<mat-toolbar color="green">
    <mat-toolbar-row>
      <span>ISAAC</span>
      <span class="example-spacer"></span>
      <button mat-stroked-button routerLink="/experience" class="example-icon" aria-label="Example icon-button with menu icon">
        Experience
      </button>
      <button mat-stroked-button routerLink="/education" class="example-icon" aria-label="Example icon-button with menu icon">
        Education
      </button>
      <button mat-stroked-button routerLink="/projects" class="example-icon" aria-label="Example icon-button with menu icon">
        Projects
      </button>
      <button mat-stroked-button routerLink="/about" class="example-icon" aria-label="Example icon-button with menu icon">
        About me
      </button>
    </mat-toolbar-row>
  </mat-toolbar>